/***************************************
***  Share Widget pulled from Assets ***
***      rewritten for Medicare      ***
***************************************/
.sharethis-wrapper {
    display: inline-block;
    margin-right: 15px;
    position: relative;
    text-align: right;
    vertical-align: top;
    width: 70px;
}

.sharethis-wrapper > a {
    display: inline-block;
    padding: 6px 12px;
    white-space: nowrap;
}

.sharethis-wrapper > a > em {
    margin-right: 3px;
}

.sharethis-wrapper > .share-links-container {
    right: 2%;
    position: absolute !important;
    top: 35px;
    z-index: 1000000;
}

.sharethis-wrapper > .share-links-container .share-links-container-border {
    background-color: #fff;
    border: 6px solid #333333;
    border: 6px solid rgba(51, 51, 51, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: none;
    float: none !important;
    line-height: 1em !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute;
    right: 2%;
    text-align: left !important;
    width: 20.3em;
    z-index: 5 !important;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents .share-links-head {
    background: #e5e5e5;
    margin-bottom: 10px;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents .share-links-head .close {
    color: #606060;
    float: right;
    font-size: 18px;
    font-size: 1.28571em;
    font-size: 1.8rem;
    margin: 5px 2% 0 0;
    opacity: 1;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents .share-links-head .close:hover {
    color: #101214;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents .share-links-head .heading {
    color: #101214;
    display: inline-block;
    margin: 8px 0 8px 1%;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents ul {
    padding-left: 0;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents ul li {
    display: list-item;
    float: left;
    list-style: none;
    margin: 0;
    position: relative;
    width: 50%;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents ul li a {
    display: block;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents ul li a:focus, .sharethis-wrapper > .share-links-container .share-links-container-border .contents ul li a:hover {
    background: #F2F2F2 !important;
    color: #101214 !important;
    outline: 1px solid #e5e5e5;
    text-decoration: underline;
    width: 100%;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents ul li a:before {
    background: url("../images/icons/share_sprite_compact.png") no-repeat scroll 0 0 transparent;
    content: '';
    cursor: pointer;
    display: inline-block;
    height: 16px;
    left: 1%;
    overflow: hidden;
    position: absolute;
    top: 7px;
    width: 18px;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents ul li a.blogger:before {
    background-position: -167px 0;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents ul li a.fb:before {
    background-position: -22px 0;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents ul li a.reddit:before {
    background-position: -142px 0;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents ul li a.stumble:before {
    background-position: -94px 0;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents ul li a.favs:before {
    background-position: -119px 0;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents ul li a.gmail:before {
    background-position: -70px 0;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents ul li a.tumblr:before {
    background-position: -47px 0;
}

.sharethis-wrapper > .share-links-container .share-links-container-border .contents ul li a > .social-site-name {
    display: block;
    padding: 8px 0 8px 25px;
}
