'use strict';

const Confidence = require('confidence');
const Dotenv = require('dotenv');


Dotenv.config({ silent: true });

const criteria = {
    env: process.env.NODE_ENV
};


const config = {
    $meta: 'This file configures the plot device.',
    projectName: '{{projectName}}',
    emailUrl: '{{emailUrl}}',
    port: {
        web: {
            $filter: 'env',
            test: 9000,
            $default: 8000
        }
    },
    authAttempts: {
        forIp: 50,
        forIpAndUser: 7
    },
	cookieSecret: {
        $filter: 'env',
        production: process.env.COOKIE_SECRET,
        $default: '~k3yb04rdK4tz4r3K001!D0ntY0u4Gr33W1thM31NTh4tR3g4rdH3110W0r1D'
	},
    hapiMongoModels:  {
        mongodb: {
            uri: {
                $filter: 'env',
                production: process.env.MONGODB_URI,
                test: 'mongodb://mongo-byocat:/frame-test-byocat',
                $default: 'mongodb://mongo-byocat:/frame-byocat'
            }
        },
        autoIndex: true
    },
    nodemailer: {
        host: '{{smtpHost}}',
        port: {{smtpPort}},
        secure: true,
        auth: {
            user: '{{smtpUsername}}',
            pass: '{{smtpPassword}}'
        }
    },
    system: {
        fromAddress: {
            name: '{{projectName}}',
            address: '{{systemEmail}}'
        },
        toAddress: {
            name: '{{projectName}}',
            address: '{{systemEmail}}'
        }
    }
};


const store = new Confidence.Store(config);


exports.get = function (key) {

    return store.get(key, criteria);
};


exports.meta = function (key) {

    return store.meta(key, criteria);
};
