body, .modal-content {
    background-color: black !important;
    color: white !important;
}

section {
    background-color: black !important;
}
h1,
h2,
h3,
h4,
h5,
p,
a,
em{
    color: white !important;
}
#slideout_inner button {
    color: #444;
}
