<div class="footerCopyright">
  <div class="row">
    <div class="col-md-4 offset-md-6">
      <img src= "/public/images/<%=logoname%>">
      <small>Copyright &copy; 2017 <a href="https://sail.bu.edu/">SAIL</a>.
      </small>
    </div>
  </div>
</div>
<script>
   $(document).ready(function() {
     pushFooter();
   });

   $(window).resize(function() {
     pushFooter();
   });
</script>
<script src="/public/js/accessibilitymenu.js" data-language="eng" data-oemsource="accessible+" data-sign="classic"></script>
