<!-- NAVIGATION BAR -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse" id="topNavList" role="navigation">
        <div>
          <ul class="nav pull-right" aria-labelledby="topNavList">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-bottom-border"></div>
  <noscript>
    <p id="js-off-message">
      The page could not be loaded. The Sci-Fi Project
      does not fully support browsers with &quot;JavaScript&quot; disabled. Please note
      that if you choose to continue without enabling &quot;JavaScript&quot; certain functionalities
      on this website may not be available.
    </p>
  </noscript>
</div>
