<!-- NAVIGATION BAR -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse" id="topNavList" role="navigation">
        <div>
          <ul class="nav pull-right" aria-labelledby="topNavList">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-bottom-border"></div>
  <%- include('./noJavascript'); %>
</div>
